<section class="section_class_padrao">
  <h2>Cadastre-se preenchendo o formulário abaixo</h2>
 <section id="whapper_conteudo">
    <%= form_for(@usuario, :html => {:id  =>"form_cadastro"}) do |f| %>
    <% if @usuario.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% @usuario.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <table class="tabela_cadastro">
        <tr>
          <td><label for="nome">Nome</label></td>
        </tr>
       <tr> 
          <td>
            <%= f.text_field :nome, placeholder: 'Exemplo:Mariana' %>
          </td>
        </tr>

         <tr>
          <td><label for="email">Email</label></td>
        </tr>
        <tr> 
          <td>
            <%= f.text_field :email, placeholder: 'Exemplo:mariana@gmail.com' %>
          </td>
        </tr>

         <tr>
          <td><label for="senha">Senha</label></td>
        </tr>
        <tr> 
          <td>
            <%= f.password_field :senha, placeholder: 'Senha' %>
          </td>
        </tr>
        <tr><td><%= hidden_field_tag "redir", params[:redir] %></td></tr>
        <tr> 
          <td>
            <button type="submit" id="cadastrar">Cadastrar</button>
          </td>
        </tr>

      </table>


    <% end %>
      <div id="none"></div>
  </section>

</section>


