<section class="section_class_padrao">
  <h2>Cadastre-se preenchendo o formulário abaixo</h2>
 <section id="whapper_conteudo">
    <%= form_for(@usuario, :html => {:id  =>"form_cadastro"}) do |f| %>
    <% if @usuario.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

        <ul>
          <% @usuario.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <table>
       <tr> 
          <td>
            <%= f.text_field :nome, placeholder: 'Nome' %>
          </td>
        </tr>

        <tr> 
          <td>
            <%= f.text_field :email, placeholder: 'Email' %>
          </td>
        </tr>

        <tr> 
          <td>
            <%= f.text_field :senha, placeholder: 'Senha'%>
          </td>
        </tr>

        <tr> 
          <td>
            <button type="submit" id="cadastrar">Cadastrar</button>
          </td>
        </tr>

      </table>


    <% end %>
  </section>
</section>

<script>
 var pesquisa_crm = document.querySelector('#pesquisa_crm'),
     button_pesquisar = document.querySelector('#button_pesquisar');

     pesquisa_crm.style.display = 'none';
     button_pesquisar.style.display = 'none';
</script>