<section class="section_class_padrao">
  <h2>Faça login inserindo seus dados de acesso!</h2>
 <section id="whapper_conteudo">

<%= form_for(@usuario, url: { action: "autenticar", method: "post" }) do |f| %>
  <% if !flash[:error].nil? %>
    <p><%= flash[:error] %></p>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email,  placeholder: 'Exemplo:mariana@gmail.com' %>
  </div>
  <div class="field">
    <%= f.label :senha %><br>
    <%= f.password_field :senha,  placeholder: 'Digite sua senha' %>
  </div>
  <div class="actions">
    <button type="submit">Entrar</button>
  </div>
<% end %>

</section>
</section>

<script>
 var pesquisa_crm = document.querySelector('#pesquisa_crm'),
     button_pesquisar = document.querySelector('#button_pesquisar');

     pesquisa_crm.style.display = 'none';
     button_pesquisar.style.display = 'none';
</script>