<section class="section_class_padrao">
  <h2>Faça login inserindo seus dados de acesso!</h2>
 <section id="whapper_conteudo">

  <%= form_for(@usuario, url: { action: "autenticar", method: "post" }) do |f| %>
    <% if !flash[:error].nil? %>
    <p><%= flash[:error] %></p>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email,  placeholder: 'Exemplo:mariana@gmail.com' %>
  </div>

  <div class="field">
    <%= f.label :senha %><br>
    <%= f.password_field :senha,  placeholder: 'Digite sua senha' %>
  </div>
  <%= link_to "Esqueci a senha", action: "esqueci_a_senha" %>
  <%= hidden_field_tag "redir", params[:redir] %>

  <div class="actions" id="div_encapsula_buttun_cadastrar">
    <button type="submit" class="butons_right">Entrar</button>
  </div><!-- end encapsula -->
<% end %>

</section>
<div id="none"></div>
</section>

