<%= form_for(@usuario, url: { action: "autenticar", method: "post" }) do |f| %>
  <% if !flash[:error].nil? %>
    <p><%= flash[:error] %></p>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :senha %><br>
    <%= f.password_field :senha %>
  </div>
  <div class="actions">
    <%= f.submit "Login" %>
  </div>
<% end %>
