<section id="section_medicos_atrasados" class="section_class_padrao">
   <section id="whapper_conteudo">

    <h2>Lista de Médicos</h2>
  
  <table>
    <tr>
      <td>
        <form id="pesquisar" method="post" action="#">
            <td> <input type="text" id="pesquisa_crm" placeholder="Nome ou CRM..."/> </td>
            <td> <button type="button" id="button_pesquisar">Buscar</button> </td>
        </form>
    </tr>
  </table>

    <table id="table_conteudo" class="table_conteuso">
      <tr class="tr_cabecalho">
        <td class="c">CRM</td>
        <td class="c">Nome</td>
        <td class="c">Atraso médio</td>
        <td class="c">Nº de consultas</td>
      </tr>
      <% @medicos.each do |m| %>
        <tr>
          <td><%= m[:medico].CRM %></td>
          <td><%= m[:medico].nome %></td>
          <% if m[:atraso_medio] < 60 %>
            <% atraso_formatado = "#{m[:atraso_medio]} m" %>
          <% else %>
            <% atraso_formatado = "#{m[:atraso_medio] / 60} h #{m[:atraso_medio] % 60}" %>
          <% end %>
          <td class="td_atraso"><%= atraso_formatado %></td>
          <td><%= m[:numero_consultas] %></td>
        </tr>
      <% end %>
    </table>

    <div id="area_paginacao">
      <a class="link_p" id="proximo" href="#">Proximo</a>
      <a class="link_p" id="anterior" href="#">Anterior</a>
      
      <p id="show_num_paginas">Página 1 de <%= @num_paginas %></p>
    </div><!--end paginacao-->

   </section>
   <br>
   <br>
   <br>
</section>

 <script type="text/javascript">

 $(document).ready( function() {
///////////////////////////////////////////////////////////////////
// INICIA O NÚMERO DE PÁGINAS E O NÚMERO DE REGISTRO DA PÁGINA...
//////////////////////////////////////////////////////////////////

            var registro = 10,
                pagina = 1,

/////////////////////////////////////////////////////////////////////////////////
// FUNÇÃO 'cliclEsumbit_chamandoJson' É ATRIBUIDA AOS EVENTOS CLICK E SUBMIT...
////////////////////////////////////////////////////////////////////////////////

             clickEsumbit_chamandoJson = function() {
                  chamaJson( registro, pagina );
                  return false;
             };

////////////////////////////////////////////////////////////////////////////////
// CHAMA A FUNÇÃO 'cliclEsumbit_chamandoJson' QUE CHAMA A FUNÇÃO 'chamaJson'...
///////////////////////////////////////////////////////////////////////////////

            $("#button_pesquisar").click( clickEsumbit_chamandoJson );
            $('#pesquisar').submit( clickEsumbit_chamandoJson );

///////////////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////
// PROXIMO INCREMENTA O NUMERO DE PÁGINAS...
/////////////////////////////////////////////////////////////////

           $('#proximo').click( function() {

                pagina += 1;
                chamaJson( registro , pagina ); 
                $('#anterior').show();
                return false;

           }); // end click...

///////////////////////////////////////////////////////////////////
// ANTERIOR DECREMENTA O NUMERO DE PÁGINAS...
/////////////////////////////////////////////////////////////////

            $('#anterior').click( function() {

                pagina -= 1;

                if ( pagina = 1 ) {
                    pagina = 1;
                    chamaJson( registro , pagina );
                }
                else {
                   chamaJson( registro , pagina );
                   console.log('else'+ pagina);
                   return false;
                }
 
           }); // end click...

///////////////////////////////////////////////////////////////////
// SE O NÚMERO DE PÁGINAS FOR IGUAL A '1' SOME O BUTTON 'ANTERIOR'
///////////////////////////////////////////////////////////////////

        if ( pagina == 1 ) {
            $('#anterior').css('opacity','0.60');
        }
        else {
            $('#anterior').css('opacity','0.90');
        }

///////////////////////////////////////////////////////////////////

              
            

               
}); // end jquery...
</script>
