<p id="notice"><%= notice %></p>

<p>
  <strong>Crm:</strong>
  <%= @medico.CRM %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @medico.nome %>
</p>

<%= link_to 'Edit', edit_medico_path(@medico) %> |
<%= link_to 'Back', medicos_path %>
