<script>
$(document).ready(function() {
  $('.date_picker').datetimepicker({
    lang: 'pt',
    maxDate: 0,
    mask: true,
    timepicker: false,
    format: 'd/m/Y'
    });
  $('.time_field').mask('99:99');
  });
</script>
<section class="section_class_padrao">

<%= form_for(@consulta) do |f| %>
  <% if @consulta.errors.any? || @medico.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @medico.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      <% @consulta.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= label_tag "Nome do médico" %><br>
    <%= text_field_tag "nome_medico", @medico.nome, id: 'nome' %>
  </div>
 
    
 
  <div class="field">
    <%= label_tag "Estado" %>
    <%= label_tag "CRM do médico" %><br>


    <%= select_tag "estado_medico",
      options_from_collection_for_select(
        Estado.all, "id", "nome", @medico.estado_id
      ), include_blank: true
    %>

  <%= number_field_tag "CRM_medico", @medico.CRM, id: 'crm' %>

  </div>
  <div class="field">
    <%= f.label :data, "Data" %><br>
    <%= f.text_field :data_consulta, class: "date_picker" %>
  </div>
  <div class="field">
    <%= f.label :hora_marcacao, "Hora de marcação" %><br>
    <%= f.text_field :hora_marcacao, class: "time_field" %>
  </div>
  <div class="field">
    <%= f.label :hora_atendimento, "Hora de atendimento" %><br>
    <%= f.text_field :hora_atendimento, class: "time_field" %>
  </div>
  <br>
  <div class="actions" id="div_encapsula_buttun_cadastrar">
    <button type="submit" id="button_registrar" class="butons_right">Registrar consulta</button>
  </div><!-- end encapsula -->

<br>
<br>
<br>

<% end %>
</section>





