
<script>
$(document).ready(function() {

$('.date_time_picker').datepicker();

});
</script>
<section class="section_class_padrao">

<%= form_for(@consulta) do |f| %>
  <% if flash[:errors].any? %>
    <div id="error_explanation">
      <h2><%= pluralize(flash[:errors].count, "error") %> prohibited this consulta from being saved:</h2>

      <ul>
      <% flash[:errors].each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= label_tag "Nome do médico" %><br>
    <%= text_field_tag "nome_medico" %>
  </div>
  <div class="field">
    <%= label_tag "CRM do médico" %><br>
    <%= number_field_tag "CRM_medico" %>
  </div>
  <div class="field">
    <%= f.label :hora_marcacao %><br>
    <%= f.text_field :hora_marcacao, class: "date_time_picker" %>
  </div>
  <div class="field">
    <%= f.label :hora_atendimento %><br>
    <%= f.text_field :hora_atendimento, class: "date_time_picker" %>
  </div>
  <div class="field">
    <%= f.label :anonimo %><br>
    <%= f.check_box :anonimo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
</section>


