<script>
$(document).ready(function() {
  $('.date_picker').datetimepicker({
    lang: 'pt',
    maxDate: 0,
    mask: true,
    timepicker: false,
    format: 'd/m/Y'
    });
  $('.time_field').mask('99:99');
  });
</script>
<section class="section_class_padrao">

<%= form_for(@consulta) do |f| %>
  <% if flash[:errors].any? %>
    <div id="error_explanation">
      <h2><%= pluralize(flash[:errors].count, "error") %> prohibited this consulta from being saved:</h2>

      <ul>
      <% flash[:errors].each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= label_tag "Nome do médico" %><br>
    <%= text_field_tag "nome_medico" %>
  </div>
  <div class="field">
    <%= label_tag "CRM do médico" %><br>
    <%= number_field_tag "CRM_medico" %>
  </div>
  <div class="field">
    <%= label_tag "Data" %><br>
    <%= text_field_tag "data_consulta", nil, class: "date_picker" %>
  </div>
  <div class="field">
    <%= f.label :hora_marcacao, "Hora de marcação" %><br>
    <%= text_field_tag "hora_marcacao", nil, class: "time_field" %>
  </div>
  <div class="field">
    <%= f.label :hora_atendimento, "Hora de atendimento" %><br>
    <%= text_field_tag "hora_atendimento", nil, class: "time_field" %>
  </div>
  <div class="field">
    <%= f.check_box :anonimo %>
    <%= f.label :anonimo, "Não quero aparecer na lista de reclamações do médico" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
</section>


