<p id="notice"><%= notice %></p>

<p>
  <strong>Medico:</strong>
  <%= @consulta.medico_id %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @consulta.usuario_id %>
</p>

<p>
  <strong>Hora marcacao:</strong>
  <%= @consulta.hora_marcacao %>
</p>

<p>
  <strong>Hora atendimento:</strong>
  <%= @consulta.hora_atendimento %>
</p>

<p>
  <strong>Anonimo:</strong>
  <%= @consulta.anonimo %>
</p>

<%= link_to 'Edit', edit_consulta_path(@consulta) %> |
<%= link_to 'Back', consultas_path %>
