<!DOCTYPE html>
<html>
<head>
  <title>Pontualidade Médica</title>
  <%= stylesheet_link_tag    "jquery.datetimepicker", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "simple_animation", media: "all", "data-turbolinks-track" => true %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
 <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
<div class="geral">


    <!--=================================================-->
    <header class="header_batimento">

        <%= image_tag("logo.png", :id => "logo") %>

    </header>
    <!--=================================================-->

    <!--=================================================--> 
    <!-- Se não estiver logado some a barra sair-->
    <% if !session[:usuario].nil? %>
  
       <div id="barra_sair">
         <b class="nome_usuario">Logado como <%= session[:usuario].nome %></b>  <b><%= link_to "Sair",class: 'sair', controller: "usuarios", action: "logout" %></b>
       </div><!--end sair--> 

    <% end %>
    <!--=================================================-->

    <div id="whapper">

        <!--=================================================-->
        <section id="pesquisa">
          <div id="pesquisa_center">

            <ul id="menu_desktop">
                <li>
                    <%= link_to "Início", controller: "medicos", action: "index" %>
                </li>
              <!-- se estiver logado some button adastro e apresenta button nova consulta-->
               <% if session[:usuario].nil? %>
                <li>
                <%= link_to(
                  "Cadastre-se",
                  controller: "usuarios",
                  action: "new",
                  redir: params[:redir]
                ) %>
                </li>
               <% else %>
                <li>
                    <%= link_to "Nova consulta", controller: "consultas", action: "new" %>
                </li>
               <% end %>

              <!-- se estiver logado some button login -->
               <% if session[:usuario].nil? %>
                <li>
                <%= link_to(
                  "Login",
                  controller: "usuarios",
                  action: "login",
                  redir: params[:redir]
                ) %>
                </li>
               <% end %>

               <li>
                  <%= link_to "Sobre", controller: "sobre"%>
               </li>


              </ul>

           
          
           <div id="none"></div>
             
          </div><!--end pesquisa center-->

          </section>

          <%= yield %>

      </div><!--end whapper-->



<!------------------------------>
<footer>
 <center><a href="http://oncedev.com.br/" target="_blank">© Copyright 2014 by <b>OnceDev.</b> All Rights Reserved.</a></center>
</footer>
<!------------------------------>
     
</div><!-- end geral -->
</body>
</html>
